<h2 class="text-center mt-4"> Create new recipe </h2>
<button type="button" class="btn btn-primary go-back"><svg class="icon icon-sm icon-white"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-arrow-left"></use></svg><span class="sr-only">Torna indietro</span></button>

<%= render 'form' %>
