<footer id="sticky-footer" class="py-4 bg-dark text-dark-50">
    <div class="container text-center text-dark">
        <small> by &copy;<%= link_to "Giulia Mazzucchelli", "https://www.linkedin.com/in/giulia-mazzucchelli-472487182/", class:"text-dark"%> </small>
       <br> <small> All pictures from Unsplash.com </small>
    </div>
</footer>